@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

:root {
  --raw-default: rgba(0, 0, 0, 1);
  --raw-primary: rgba(222, 69, 53, 1);
  --raw-secondary: rgba(75, 85, 99, 1);
  --raw-background: rgba(255, 255, 255, 1);
  --raw-background-top: rgba(255, 255, 255, 1);
  --raw-background-bottom: rgba(255, 255, 255, 1);
}

.dark {
  --raw-default: rgba(255, 255, 255, 1);
  --raw-primary: #2067ff;
  --raw-secondary: rgba(156, 163, 175, 1);
  --raw-background-top: #000312;
  --raw-background-bottom: #070d2b;
}

@theme {
  --color-primary: var(--raw-primary);
  --color-secondary: var(--raw-secondary);
  --color-background: var(--raw-background);
  --color-background-top: var(--raw-background-top);
  --color-background-bottom: var(--raw-background-bottom);
}

@utility text-default {
  color: var(--raw-default);
}

body {
  @apply antialiased;
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
  cursor: var(--cursor-default);
  background: var(--raw-background);
}

.dark body {
  background: linear-gradient(
    to bottom,
    var(--raw-background-top) 50%,
    var(--raw-background-bottom) 100%
  );
}

a,
button,
[role="button"],
input[type="submit"],
input[type="button"],
label[for],
select,
summary,
img,
[onclick],
.cursor-pointer {
  cursor: var(--cursor-pointer);
}

::selection {
  @apply bg-gray-200;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
