@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgba(222, 69, 53, 1);
  --color-secondary: rgba(75, 85, 99, 1);
  --color-background: rgba(255, 255, 255, 1);
  --color-background-top: rgba(255, 255, 255, 1);
  --color-background-bottom: rgba(255, 255, 255, 1);
}

.dark {
  --color-primary: #2067ff;
  --color-secondary: rgba(156, 163, 175, 1);
  --color-background-top: #000312;
  --color-background-bottom: #070d2b;
}

body {
  @apply antialiased;
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
  cursor: url("/cursor.svg") 6 6, auto;
  background: var(--color-background);
}

.dark body {
  background: linear-gradient(
    to bottom,
    var(--color-background-top) 50%,
    var(--color-background-bottom) 100%
  );
}

a,
button,
[role="button"],
input[type="submit"],
input[type="button"],
label[for],
select,
summary,
[onclick],
.cursor-pointer {
  cursor: url("/cursor-pointer.svg") 6 6, pointer;
}

::selection {
  @apply bg-gray-200;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
